* {
  box-sizing: border-box;
}

body {
  background-color:#b9f3f5;
  max-width: 960px;
}

main {
  display: grid;
  grid-template-columns: 10rem 12rem 850px;
  grid-template-rows: 8rem 15rem 250px;
}

#title {
  font-size: 3rem;
}

#logo {
  font-size: 3rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
  padding: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: red;
}

#title {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  margin-top: 50px;
  margin-left: 10px;
  background-color: darkgoldenrod;
}

#images {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  padding: 2px;
  border-width: 5px;
  border-style: solid;
  border-color: red;
  max-width: 275px;
  max-height: 250px;
}

img:hover {
  border-color: blue;
  cursor: pointer;
}

div {
  max-height: 200px;
  margin-top: 10px;
}

p {
  font-size: 1.25rem;
}

#text {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: chocolate;
  margin: auto;
}

#results {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: auto;
  padding: 5px 3px;
  background-color: limegreen;
}

#results.view-results {
  background-color: green;

}